<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h1>Make Friends with all over the world!!</h1><br>
      <p>アプリを使って世界中の友達と交流しよう！</p>
    </div>

    <div class="col-md-6 col-sm-6">
      <div class="sign-up-form">
        <%= render('signup') %>
      </div>
    </div>
  </div>
</div>
