<section class="main-header">
  <h1>Make Friends with all over the world!!</h1><br>
  <p>このアプリを使って世界中の友達と交流しよう！</p>
</section>

<div id="page-top-btn" class="page-top-btn">
  <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
