.container-users {
  font-size: 17px;
  text-align: center;
  height: auto;
  padding-top: 65px;
  padding-bottom: 30px;
}

.pull-right {
  display: inline-block;
  vertical-align: 10px;
}

ul {
  list-style: none;
  display: block;
  vertical-align: middle;
  text-align: center;
}


.list-inline li {
  display: inline-block;
  vertical-align: middle;
}

hr {
  height: 5px;
  border:0;
  box-shadow:0 30px 30px -30px #ccc inset;
  width: 450px;
}

.follow {
  text-align: center;
}

.follower li,
.followed li {
  text-align: left;
  margin: 0 auto;
}

.followed {
  padding-top: 25px;
}

.user-button {
  text-align: center;
  padding-top: 25px;
}

.page {
  text-align: center;
}
